Repository aegershman/yugabyte-boshrelease, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, deployment-mgmt, job/yb-master, job/yb-tserver

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - docs/**/*
  - README.md

deployment-mgmt:
  - .github/**/*
  - ci/**/*
  - manifests/**/*

job/yb-master:
  - jobs/yb-master/**/*

job/yb-tserver:
  - jobs/yb-tserver/**/*

rm extended key use
  README.md
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: area/docs, deployment-mgmt

add back linking, nevermind
  jobs/yb-master/templates/bin/cert-linker.erb.sh
Labels: job/yb-master

README addition
  README.md
Labels: area/docs

Use BOSH links to generate SANs for node-to-node TLS (#123)
  README.md
  jobs/yb-master/templates/bin/cert-linker.erb.sh
  manifests/operators/tls/enable-server-to-server-encryption.yml
  manifests/operators/tls/vars.yml
  manifests/yugabyte.yml
Labels: area/docs, deployment-mgmt, job/yb-master

Update labels.yml
  .github/labels.yml
Labels: deployment-mgmt

label for area/security (#124)
  .github/labels.yml
Labels: deployment-mgmt

Update labels.yml
  .github/labels.yml
Labels: deployment-mgmt

must support yb admin ability to pass certs
  jobs/yb-admin/spec
  jobs/yb-admin/templates/bin/yb-admin.sh.erb
  jobs/yb-admin/templates/config/certs/ca.crt.erb
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: deployment-mgmt

minor formatting
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: deployment-mgmt

fixup slashes
  jobs/yb-admin/templates/bin/yb-admin.sh.erb
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: deployment-mgmt

Ability to pass master node certs to yb-admin (#125)
  jobs/yb-admin/spec
  jobs/yb-admin/templates/bin/yb-admin.sh.erb
  jobs/yb-admin/templates/config/certs/ca.crt.erb
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: deployment-mgmt

release-0.0.4
  .final_builds/jobs/yb-admin/index.yml
  .final_builds/jobs/yb-master/index.yml
  .final_builds/jobs/yb-sample-apps/index.yml
  .final_builds/jobs/yb-tserver/index.yml
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.4.yml
Labels: deployment-mgmt

release-0.0.4 (#127)
  .final_builds/jobs/yb-admin/index.yml
  .final_builds/jobs/yb-master/index.yml
  .final_builds/jobs/yb-sample-apps/index.yml
  .final_builds/jobs/yb-tserver/index.yml
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.4.yml
Labels: deployment-mgmt

tserver conf for client to server encryption options
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/config/tserver.conf.erb
Labels: job/yb-tserver

enable client to server conf
  Taskfile.yml
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/config/tserver.conf.erb
  manifests/operators/development/vars.yml
  manifests/operators/tls/enable-client-to-server-encryption.yml
  manifests/operators/tls/vars.yml
Labels: deployment-mgmt, job/yb-tserver

reformat opsfiles to allow for better nesting of tls configuration without overwriting each other
  Taskfile.yml
  manifests/operators/development/vars.yml
  manifests/operators/tls/enable-client-to-server-encryption.yml
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: deployment-mgmt

organization
  Taskfile.yml
Labels: none

lets see if cqlshrc is happy with these changes
  jobs/yb-tserver/templates/config/cqlshrc.erb
Labels: job/yb-tserver

I guess the CA is all you need for right now
  jobs/yb-tserver/templates/config/cqlshrc.erb
Labels: job/yb-tserver

TLS for client-to-server first pass (#128)
  Taskfile.yml
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/config/cqlshrc.erb
  jobs/yb-tserver/templates/config/tserver.conf.erb
  manifests/operators/development/vars.yml
  manifests/operators/tls/enable-client-to-server-encryption.yml
  manifests/operators/tls/enable-server-to-server-encryption.yml
  manifests/operators/tls/vars.yml
Labels: deployment-mgmt, job/yb-tserver

judging by some things I've seen on the k8s deployment we should just be able to use a single dns address instead of individual nodes, right
  jobs/yb-master/templates/config/master.conf.erb
  jobs/yb-tserver/templates/config/tserver.conf.erb
  manifests/operators/development/vars.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

make master addresses bind port configurable from 7100; will allow for this to be consumed by other links
  jobs/yb-master/spec
  jobs/yb-master/templates/config/master.conf.erb
Labels: job/yb-master

close ranks, swap to using i
  jobs/yb-tserver/templates/config/tserver.conf.erb
Labels: job/yb-tserver

test if property sharing works as I think it does
  jobs/yb-master/spec
  jobs/yb-tserver/templates/config/tserver.conf.erb
Labels: job/yb-master, job/yb-tserver

now consumes dynamic configurable server broadcast port
  jobs/yb-tserver/templates/config/tserver.conf.erb
Labels: job/yb-tserver

configurable master node rpc bind port allows yb-admin to consume master port dynamically
  jobs/yb-admin/spec
  jobs/yb-admin/templates/bin/yb-admin.sh.erb
Labels: none

from now on, only rpc bind ports for everything. Thats it. THERE IS NO GATEKEEPER. ONLY RPC.
  jobs/yb-admin/templates/bin/yb-admin.sh.erb
  jobs/yb-master/spec
  jobs/yb-master/templates/config/master.conf.erb
  jobs/yb-tserver/templates/config/tserver.conf.erb
Labels: job/yb-master, job/yb-tserver

bindings
  README.md
Labels: area/docs

update all consumers to only use rpc binding
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/config/tserver.conf.erb
Labels: job/yb-tserver

ensure opsfile is updated to only use rpc bind
  manifests/operators/tserver-rpc-bind-port.yml
Labels: deployment-mgmt

doc updates
  README.md
  jobs/yb-master/templates/config/master.conf.erb
Labels: area/docs, job/yb-master

Master rpc_bind port as linkable property (#130)
  README.md
  jobs/yb-admin/spec
  jobs/yb-admin/templates/bin/yb-admin.sh.erb
  jobs/yb-master/spec
  jobs/yb-master/templates/config/master.conf.erb
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/config/tserver.conf.erb
  manifests/operators/tserver-rpc-bind-port.yml
Labels: area/docs, deployment-mgmt, job/yb-master, job/yb-tserver

post-start delay
  jobs/yb-master/spec
  jobs/yb-master/templates/bin/post-start.sh
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/bin/post-start.sh
Labels: job/yb-master, job/yb-tserver

post-start delay ready to roll
  jobs/yb-master/spec
  jobs/yb-master/templates/bin/post-start.sh
  jobs/yb-master/templates/bin/post-start.sh.erb
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/bin/post-start.sh
  jobs/yb-tserver/templates/bin/post-start.sh.erb
  manifests/operators/post-start-delay.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

Introduce configurable post-start delay (#131)
  jobs/yb-master/spec
  jobs/yb-master/templates/bin/post-start.sh.erb
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/bin/post-start.sh.erb
  manifests/operators/post-start-delay.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

release-0.0.5
  .final_builds/jobs/yb-admin/index.yml
  .final_builds/jobs/yb-master/index.yml
  .final_builds/jobs/yb-tserver/index.yml
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.5.yml
Labels: deployment-mgmt

release-0.0.5 (#132)
  .final_builds/jobs/yb-admin/index.yml
  .final_builds/jobs/yb-master/index.yml
  .final_builds/jobs/yb-tserver/index.yml
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.5.yml
Labels: deployment-mgmt

new blobs new me
  Taskfile.yml
  config/blobs.yml
Labels: none

yugabyte 2.1.1.0 (#133)
  Taskfile.yml
  config/blobs.yml
Labels: none

release-0.0.6
  .final_builds/packages/yugabyte/index.yml
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.6.yml
Labels: deployment-mgmt
