Repository aegershman/yugabyte-boshrelease, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, deployment-mgmt, job/yb-master, job/yb-tserver

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - docs/**/*
  - README.md

deployment-mgmt:
  - .github/**/*
  - ci/**/*
  - manifests/**/*

job/yb-master:
  - jobs/yb-master/**/*

job/yb-tserver:
  - jobs/yb-tserver/**/*

test changing the workdir and executable to relative paths
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-tserver

so we know this works
  jobs/yb-tserver/templates/bin/pre-start.sh
  manifests/yugabyte.yml
Labels: deployment-mgmt, job/yb-tserver

okay so lets try this one other time, and if this doesnt work we will need to either evaluate capabilities or we will need to reconfigure the bpm startups
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-tserver

bump on master as well
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
Labels: job/yb-master

no more privs, test post install location
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/bin/pre-start.sh
Labels: job/yb-master, job/yb-tserver

retest
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

rm close timeout
  manifests/vars.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

keep timeout
  manifests/yugabyte.yml
Labels: deployment-mgmt

does catalog snapshot path need to change
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

down back to 1 instance
  Taskfile.yml
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
  manifests/vars.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

just why
  Taskfile.yml
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

lets just be really really specific I guess
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

oh my god
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

use initial sys
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

just work
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

commit
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/bin/pre-start.sh
Labels: job/yb-master, job/yb-tserver

monit timeout higher maybe
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/bin/pre-start.sh
  manifests/vars.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

caps
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
  manifests/vars.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

y
  Taskfile.yml
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

I'm actually going to puke
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

switch back to regular executables
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

going to replace with ctl to test
  Taskfile.yml
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
  manifests/vars.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

post install really shouldnt matter
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/bin/pre-start.sh
Labels: job/yb-master, job/yb-tserver

notes on how to release
  README.md
Labels: area/docs

releases
  .final_builds/packages/yugabyte/index.yml
  README.md
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.3.yml
Labels: area/docs

versions file update
  manifests/versions.yml
Labels: deployment-mgmt

Release 0.0.3 (#119)
  .final_builds/packages/yugabyte/index.yml
  README.md
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.3.yml
Labels: area/docs, deployment-mgmt

node to node encryption first pass
  README.md
  Taskfile.yml
  jobs/yb-master/spec
  jobs/yb-master/templates/bin/cert-linker.erb.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-master/templates/config/certs/ca.crt.erb
  jobs/yb-master/templates/config/certs/node.crt.erb
  jobs/yb-master/templates/config/certs/node.key.erb
  jobs/yb-master/templates/config/master.conf.erb
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/bin/cert-linker.erb.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/certs/ca.crt.erb
  jobs/yb-tserver/templates/config/certs/node.crt.erb
  jobs/yb-tserver/templates/config/certs/node.key.erb
  jobs/yb-tserver/templates/config/tserver.conf.erb
  manifests/operators/development/vars.yml
  manifests/operators/tls/enable-server-to-server-encryption.yml
  manifests/operators/tls/vars.yml
  manifests/vars.yml
Labels: area/docs, deployment-mgmt, job/yb-master, job/yb-tserver

node to node encryption first pass (#121)
  README.md
  Taskfile.yml
  jobs/yb-master/spec
  jobs/yb-master/templates/bin/cert-linker.erb.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-master/templates/config/certs/ca.crt.erb
  jobs/yb-master/templates/config/certs/node.crt.erb
  jobs/yb-master/templates/config/certs/node.key.erb
  jobs/yb-master/templates/config/master.conf.erb
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/bin/cert-linker.erb.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/certs/ca.crt.erb
  jobs/yb-tserver/templates/config/certs/node.crt.erb
  jobs/yb-tserver/templates/config/certs/node.key.erb
  jobs/yb-tserver/templates/config/tserver.conf.erb
  manifests/operators/development/vars.yml
  manifests/operators/tls/enable-server-to-server-encryption.yml
  manifests/operators/tls/vars.yml
  manifests/vars.yml
Labels: area/docs, deployment-mgmt, job/yb-master, job/yb-tserver

implicit linking on yb master addresses
  jobs/yb-admin/spec
  jobs/yb-master/spec
  jobs/yb-tserver/spec
  manifests/yugabyte.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

link on yb tservers
  jobs/yb-sample-apps/spec
  jobs/yb-tserver/spec
  manifests/operators/colocate-tservers-on-masters.yml
  manifests/operators/sample-apps/cassandrakeyvalue.yml
  manifests/operators/sample-apps/rediskeyvalue.yml
  manifests/operators/sample-apps/sqlinserts.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt, job/yb-tserver

quick test on getting three instances out to ensure self-linking is hunky dory
  manifests/operators/development/vars.yml
Labels: deployment-mgmt

back down to 1 of each for testing
  manifests/operators/development/vars.yml
Labels: deployment-mgmt

Cleanup BOSH links on various jobs (#122)
  jobs/yb-admin/spec
  jobs/yb-master/spec
  jobs/yb-sample-apps/spec
  jobs/yb-tserver/spec
  manifests/operators/colocate-tservers-on-masters.yml
  manifests/operators/sample-apps/cassandrakeyvalue.yml
  manifests/operators/sample-apps/rediskeyvalue.yml
  manifests/operators/sample-apps/sqlinserts.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

testing alt names
  manifests/operators/tls/enable-server-to-server-encryption.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

rm shortening of bosh dns
  README.md
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: area/docs, deployment-mgmt

rm alternative names
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: deployment-mgmt

lets try each having their own cert
  manifests/operators/tls/enable-server-to-server-encryption.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

break out tls cert names into multiples and see if that works
  manifests/operators/tls/enable-server-to-server-encryption.yml
  manifests/operators/tls/vars.yml
Labels: deployment-mgmt

no alt names, not sure if we even need server auth extended key to be honest
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: deployment-mgmt
