Repository aegershman/yugabyte-boshrelease, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, deployment-mgmt, job/yb-master, job/yb-tserver

factor out deployment properties
  manifests/vars.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

factor out persistent disk type, network, azs, etc
  manifests/vars.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

factor out sample apps as an operator
  manifests/operators/sample-apps.yml
  manifests/vars.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

factor out tserver rpc bind address port
  manifests/operators/tserver-rpc-bind-address-port.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

rpc bind port operator
  Taskfile.yml
  manifests/operators/tserver-rpc-bind-address-port.yml
  manifests/operators/tserver-rpc-bind-port.yml
  manifests/vars.yml
Labels: deployment-mgmt

ycql-superusers operator
  manifests/operators/ycql-superusers.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

reduce properties commands to just setup redis table
  manifests/yugabyte.yml
Labels: deployment-mgmt

factor setup redis table
  manifests/vars.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

breakout gflags
  Taskfile.yml
  manifests/operators/gflags.yml
  manifests/vars.yml
Labels: deployment-mgmt

rename stemcell from xenial to default
  manifests/operators/sample-apps.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

use 456.latest just to be safe in pinning the stemcell for now
  manifests/operators/colocate-tservers-on-masters.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

vars formatting
  manifests/vars.yml
Labels: deployment-mgmt

factor out sample apps
  manifests/operators/sample-apps.yml
  manifests/vars.yml
Labels: deployment-mgmt

include a pretty basic versions yml file for now
  Taskfile.yml
  manifests/versions.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

test deploy runs sample apps
  Taskfile.yml
Labels: none

optional run errand in taskfile snuck in
  Taskfile.yml
Labels: none

rename some operators, syslog forwarder cleanup
  Taskfile.yml
  manifests/operators/create-release-from-local.yml
  manifests/operators/enable-sample-apps.yml
  manifests/operators/enable-syslog-forwarder.yml
  manifests/vars.yml
  manifests/versions.yml
Labels: deployment-mgmt

default username password of sample apps are cassandra cassandra todo
  manifests/operators/enable-sample-apps.yml
Labels: deployment-mgmt

default username password of sample apps are cassandra cassandra todo
  manifests/operators/enable-sample-apps.yml
Labels: deployment-mgmt

rm some of the default logging statements we had earlier
  manifests/vars.yml
Labels: deployment-mgmt

factor out deployment properties prior to release (#102)
  Taskfile.yml
  manifests/operators/colocate-tservers-on-masters.yml
  manifests/operators/create-release-from-local.yml
  manifests/operators/enable-sample-apps.yml
  manifests/operators/enable-syslog-forwarder.yml
  manifests/operators/gflags.yml
  manifests/operators/tserver-rpc-bind-port.yml
  manifests/operators/ycql-superusers.yml
  manifests/vars.yml
  manifests/versions.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

blobs uploaded
  config/blobs.yml
Labels: none

final release created
  .final_builds/jobs/yb-admin/index.yml
  .final_builds/jobs/yb-master/index.yml
  .final_builds/jobs/yb-sample-apps/index.yml
  .final_builds/jobs/yb-tserver/index.yml
  .final_builds/license/index.yml
  .final_builds/packages/openjdk/index.yml
  .final_builds/packages/python-2.7/index.yml
  .final_builds/packages/yb-sample-apps/index.yml
  .final_builds/packages/yugabyte/index.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.1.yml
Labels: none

release version 0.0.1
  manifests/versions.yml
  manifests/yugabyte.yml
Labels: deployment-mgmt

First soft release (#103)
  .final_builds/jobs/yb-admin/index.yml
  .final_builds/jobs/yb-master/index.yml
  .final_builds/jobs/yb-sample-apps/index.yml
  .final_builds/jobs/yb-tserver/index.yml
  .final_builds/license/index.yml
  .final_builds/packages/openjdk/index.yml
  .final_builds/packages/python-2.7/index.yml
  .final_builds/packages/yb-sample-apps/index.yml
  .final_builds/packages/yugabyte/index.yml
  config/blobs.yml
  manifests/versions.yml
  manifests/yugabyte.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.1.yml
Labels: deployment-mgmt

Update configure-repo-labels.yml
  .github/workflows/configure-repo-labels.yml
Labels: deployment-mgmt

remote backend
  ci/yugablob.tf
Labels: deployment-mgmt

Transfer to tf cloud; remote backend (#105)
  ci/yugablob.tf
Labels: deployment-mgmt

testing provider version changes against a PR
  ci/yugablob.tf
Labels: deployment-mgmt

testing provider version changes against a PR (#106)
  ci/yugablob.tf
Labels: deployment-mgmt

pgp key for iam encrypted key
  ci/yugablob.tf
Labels: deployment-mgmt

quote keybase pgp key
  ci/yugablob.tf
Labels: deployment-mgmt

pgp key for iam encrypted key (#107)
  ci/yugablob.tf
Labels: deployment-mgmt

going to scribble out some basic docs
  README.md
Labels: area/docs

goals and antigoals
  README.md
Labels: area/docs

cleanup antigoals
  README.md
Labels: area/docs

restructure README formatting
  README.md
Labels: area/docs

scribble docs
  README.md
Labels: area/docs

eh take out goals and antigoals
  README.md
Labels: area/docs

Scribbling out basic docs (#108)
  README.md
Labels: area/docs

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - docs/**/*
  - README.md

deployment-mgmt:
  - .github/**/*
  - ci/**/*
  - manifests/**/*

job/yb-master:
  - jobs/yb-master/**/*

job/yb-tserver:
  - jobs/yb-tserver/**/*
