Repository aegershman/yugabyte-boshrelease, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, deployment-mgmt, job/yb-master, job/yb-tserver

release-0.0.6 (#134)
  .final_builds/packages/yugabyte/index.yml
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.6.yml
Labels: deployment-mgmt

rm exporting of yb-tserver property
  jobs/yb-tserver/spec
Labels: job/yb-tserver

rm replication factor override
  jobs/yb-master/spec
  jobs/yb-master/templates/config/master.conf.erb
Labels: job/yb-master

Small tidy on tserver property export, rm manual override of master replication factor (#140)
  jobs/yb-master/spec
  jobs/yb-master/templates/config/master.conf.erb
  jobs/yb-tserver/spec
Labels: job/yb-master, job/yb-tserver

rename setup redis table errand
  jobs/setup_redis_table/monit
  jobs/setup_redis_table/spec
  jobs/setup_redis_table/templates/bin/pre-start.sh
  jobs/setup_redis_table/templates/bin/run.sh
  jobs/setup_redis_table/templates/bin/yb-admin.sh.erb
  jobs/setup_redis_table/templates/config/bpm.yml
  jobs/setup_redis_table/templates/config/certs/ca.crt.erb
Labels: none

finish out renaming for setup redis table command
  jobs/setup_redis_table/spec
  jobs/setup_redis_table/templates/bin/yb-admin.sh.erb
  manifests/yugabyte.yml
Labels: deployment-mgmt

finish out renaming setup redis table errand
  jobs/setup_redis_table/templates/bin/pre-start.sh
  jobs/setup_redis_table/templates/bin/run.sh
  jobs/setup_redis_table/templates/bin/yb-admin.sh.erb
  jobs/setup_redis_table/templates/config/bpm.yml
  manifests/operators/tls/enable-server-to-server-encryption.yml
Labels: deployment-mgmt

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - docs/**/*
  - README.md

deployment-mgmt:
  - .github/**/*
  - ci/**/*
  - manifests/**/*

job/yb-master:
  - jobs/yb-master/**/*

job/yb-tserver:
  - jobs/yb-tserver/**/*
