Repository aegershman/yugabyte-boshrelease, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, deployment-mgmt, job/yb-master, job/yb-tserver

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - docs/**/*
  - README.md

deployment-mgmt:
  - .github/**/*
  - ci/**/*
  - manifests/**/*

job/yb-master:
  - jobs/yb-master/**/*

job/yb-tserver:
  - jobs/yb-tserver/**/*

Update limits for open_files and processes
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-tserver

Update bpm.erb.yml
  jobs/yb-master/templates/config/bpm.erb.yml
Labels: job/yb-master

Update pre-start.sh
  jobs/yb-master/templates/bin/pre-start.sh
Labels: job/yb-master

Update pre-start.sh
  jobs/yb-master/templates/bin/pre-start.sh
Labels: job/yb-master

Update pre-start.sh
  jobs/yb-tserver/templates/bin/pre-start.sh
Labels: job/yb-tserver

Update pre-start.sh
  jobs/yb-tserver/templates/bin/pre-start.sh
Labels: job/yb-tserver

minor cleanup
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/bin/pre-start.sh
Labels: job/yb-master, job/yb-tserver

Update monit
  jobs/yb-tserver/monit
Labels: job/yb-tserver

bpm parameterized limits
  jobs/yb-master/spec
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

process files on bpm
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

Parameterized bpm limits (#112)
  jobs/yb-master/spec
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/spec
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

by default 1 tserver and 1 master
  manifests/vars.yml
  manifests/versions.yml
Labels: deployment-mgmt

no more adding blobs by default
  Taskfile.yml
Labels: none

operator file to use latest yugabyte release available by removing url and sha
  manifests/operators/use-latest-yugabyte-release.yml
Labels: deployment-mgmt

Smaller vars setup (#113)
  Taskfile.yml
  manifests/operators/use-latest-yugabyte-release.yml
  manifests/vars.yml
  manifests/versions.yml
Labels: deployment-mgmt

monit timeout
  jobs/yb-tserver/monit
  jobs/yb-tserver/spec
Labels: job/yb-tserver

boshrelease 0.0.2
  .final_builds/jobs/yb-master/index.yml
  .final_builds/jobs/yb-tserver/index.yml
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.2.yml
Labels: deployment-mgmt

boshrelease 0.0.2 (#115)
  .final_builds/jobs/yb-master/index.yml
  .final_builds/jobs/yb-tserver/index.yml
  manifests/versions.yml
  releases/yugabyte/index.yml
  releases/yugabyte/yugabyte-0.0.2.yml
Labels: deployment-mgmt

env args too
  Taskfile.yml
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
  manifests/vars.yml
Labels: deployment-mgmt, job/yb-master, job/yb-tserver

caps and env vars didnt help as hoped
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

spaghetti
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/bin/post-deploy.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

more spaghetti
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

ybb 210
  Taskfile.yml
  config/blobs.yml
Labels: none

forgot to remove old blob refs
  config/blobs.yml
Labels: none

blob location config
  config/blobs.yml
Labels: none

Yugabyte 2.1.0.0 (#117)
  Taskfile.yml
  config/blobs.yml
Labels: none

wait does post start super duper matter
  jobs/yb-tserver/templates/bin/post-deploy.sh
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-tserver

lets try this again
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-tserver

sample sqlinserts
  Taskfile.yml
  manifests/operators/enable-sample-apps.yml
  manifests/vars.yml
Labels: deployment-mgmt

sample apps
  Taskfile.yml
  manifests/operators/enable-sample-apps.yml
  manifests/operators/sample-apps/cassandrakeyvalue.yml
  manifests/operators/sample-apps/rediskeyvalue.yml
  manifests/operators/sample-apps/sqlinserts.yml
  manifests/operators/sample-apps/vars.yml
  manifests/vars.yml
Labels: deployment-mgmt

sample apps should have their own operators
  manifests/operators/sample-apps/cassandrakeyvalue.yml
  manifests/operators/sample-apps/rediskeyvalue.yml
  manifests/operators/sample-apps/sqlinserts.yml
  manifests/operators/sample-apps/vars.yml
  manifests/vars.yml
Labels: deployment-mgmt

break out sample apps
  Taskfile.yml
  manifests/operators/enable-sample-apps.yml
  manifests/operators/sample-apps/cassandrakeyvalue.yml
  manifests/operators/sample-apps/rediskeyvalue.yml
  manifests/operators/sample-apps/sqlinserts.yml
  manifests/operators/sample-apps/vars.yml
Labels: deployment-mgmt

sample apps should have their own operator files (#118)
  Taskfile.yml
  manifests/operators/enable-sample-apps.yml
  manifests/operators/sample-apps/cassandrakeyvalue.yml
  manifests/operators/sample-apps/rediskeyvalue.yml
  manifests/operators/sample-apps/sqlinserts.yml
  manifests/operators/sample-apps/vars.yml
  manifests/vars.yml
Labels: deployment-mgmt

just rm the ysql option
  manifests/vars.yml
Labels: deployment-mgmt

hold up
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-tserver

messy
  jobs/yb-master/templates/bin/pre-start.sh
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

y
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

perhaps its just yb pg fallback
  jobs/yb-master/templates/config/bpm.erb.yml
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-master, job/yb-tserver

this I know will create the data folders, but then must be switched back from priviledged in order for it to have ownership over pgdata, which means something else is afoot
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-tserver

modified prestart
  jobs/yb-tserver/templates/bin/pre-start.sh
  jobs/yb-tserver/templates/config/bpm.erb.yml
Labels: job/yb-tserver
